<?xml version="1.0"?>
<config>
    <modules>
        <Zygnis_Customerfeedback>
            <version>0.1.0</version>
        </Zygnis_Customerfeedback>
    </modules>
    <global>
        <models>
            <zygnis_customerfeedback>
                <class>Zygnis_Customerfeedback_Model</class>
                <resourceModel>customerfeedback_resource</resourceModel>
            </zygnis_customerfeedback>
            <customerfeedback_resource>
                <class>Zygnis_Customerfeedback_Model_Resource</class>
                <entities>
                    <customerfeedback>
                        <table>zygnis_customerfeedback</table>
                    </customerfeedback>
                </entities>
            </customerfeedback_resource>
        </models>
        <helpers>
            <zygnis_customerfeedback>
                <class>Zygnis_Customerfeedback_Helper</class>
            </zygnis_customerfeedback>
        </helpers>
        <blocks>
            <zygnis_customerfeedback>
                <class>Zygnis_Customerfeedback_Block</class>
            </zygnis_customerfeedback>
        </blocks>
        <resources>
            <zygnis_customerfeedback_setup>
                <setup>
                    <module>Zygnis_Customerfeedback</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </zygnis_customerfeedback_setup>
        </resources>
        <events>
            <before_customerfeedback_item_display>
                <observers>
                    <zygnis_customerfeedback>
                        <class>zygnis_customerfeedback/observer</class>
                        <method>beforeCustomerfeedbackDisplayed</method>
                    </zygnis_customerfeedback>
                </observers>
            </before_customerfeedback_item_display>
        </events>        
    </global>
    
    <frontend>
        <routers>
            <zygnis_customerfeedback>
                <use>standard</use>
                <args>
                    <module>Zygnis_Customerfeedback</module>
                    <frontName>customerfeedback</frontName>
                </args>
            </zygnis_customerfeedback>
        </routers>
        <layout>
            <updates>
                <zygnis_customerfeedback>
                    <file>zygnis_customerfeedback.xml</file>
                </zygnis_customerfeedback>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Zygnis_Customerfeedback before="Mage_Adminhtml">Zygnis_Customerfeedback_Adminhtml</Zygnis_Customerfeedback>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <zygnis_customerfeedback>
                    <file>zygnis_customerfeedback.xml</file>
                </zygnis_customerfeedback>
            </updates>
        </layout> 
    </adminhtml>
    <default>
        <customerfeedback>
            <view>
                <enabled>1</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
        </customerfeedback>
    </default>
</config>
